In [1]:

from warnings import filterwarnings 
filterwarnings("ignore")

import pandas as pd
from pprint import pprint

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Read the data from the file downloaded from Kaggle

In [2]:
realtor_data_df = pd.read_csv('realtor-data.csv')
realtor_data_df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [3]:
realtor_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401066 entries, 0 to 1401065
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   status          1401066 non-null  object
 1   bed             1184538 non-null  float64
 2   bath            1206853 non-null  float64
 3   acre_lot        1043599 non-null  float64
 4   city            1400875 non-null  object
 5   state           1401066 non-null  object
 6   zip_code        1400587 non-null  float64
 7   house_size      950954 non-null   float64
 8   prev_sold_date  714773 non-null   object
 9   price           1400958 non-null  float64
dtypes: float64(6), object(4)
memory usage: 106.9+ MB

In [4]:
realtor_data_df.describe()

,bed,bath,acre_lot,zip_code,house_size,price
count,1.184538e+06,1.206853e+06,1.043599e+06,1.400587e+06,9.509540e+05,1.400958e+06
mean,3.392347e+00,2.487426e+00,3.215013e+01,8.356641e+03,2.178643e+03,8.186029e+05
std,2.051858e+00,1.873599e+00,1.249983e+03,4.130465e+03,3.492618e+03,2.683069e+06
min,1.000000e+00,1.000000e+00,0.000000e+00,6.010000e+02,4.000000e+00,0.000000e+00
25%,2.000000e+00,2.000000e+00,1.200000e-01,5.652000e+03,1.170000e+03,2.350000e+05
50%,3.000000e+00,2.000000e+00,3.200000e-01,8.757000e+03,1.700000e+03,4.467770e+05
75%,4.000000e+00,3.000000e+00,1.340000e+00,1.142600e+04,2.500000e+03,7.950000e+05
max,1.230000e+02,1.980000e+02,1.000000e+05,9.999900e+04,1.450112e+06,8.750000e+08

#### Group the data by state and count the occurances.

In [5]:
realtor_data_df.groupby(["state"])["state"].count()

state
Connecticut        98816
Delaware            2135
Georgia               50
Louisiana              3
Maine              36650
Massachusetts     177170
New Hampshire      51394
New Jersey        256551
New York          653061
Pennsylvania       20060
Puerto Rico        24679
Rhode Island       29610
South Carolina        25
Tennessee             20
Vermont            48230
Virgin Islands      2573
Virginia              31
West Virginia          5
Wyoming                3
Name: state, dtype: int64

#### Check for duplicate data.
#### It appears that the data provider doesn't incrementally update this file.

In [6]:
realtor_data_df.duplicated().sum()

1249026

#### Drop duplicate data.

In [7]:
realtor_data_df.drop_duplicates(inplace=True)
realtor_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152040 entries, 0 to 1401063
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   status          152040 non-null  object
 1   bed             126791 non-null  float64
 2   bath            128499 non-null  float64
 3   acre_lot        115074 non-null  float64
 4   city            152004 non-null  object
 5   state           152040 non-null  object
 6   zip_code        151993 non-null  float64
 7   house_size      102571 non-null  float64
 8   prev_sold_date  79419 non-null   object
 9   price           152020 non-null  float64
dtypes: float64(6), object(4)
memory usage: 12.8+ MB

#### List the features and their characteristics.

In [8]:
for col in realtor_data_df.columns.tolist():
    pprint(f"++++++++++++++++++ {col} +++ {type(realtor_data_df[col][0])} ++++++++++++++++++")
    pprint(f"{realtor_data_df[col].unique()} : {realtor_data_df[col].nunique()} : {realtor_data_df[col].dropna().shape[0]}")
    print()

"++++++++++++++++++ status +++ <class 'str'> ++++++++++++++++++"
"['for_sale' 'ready_to_build'] : 2 : 152040"

"++++++++++++++++++ bed +++ <class 'numpy.float64'> ++++++++++++++++++"
('[  3.   4.   2.   6.   5.   1.   9.  nan   7.   8.  12.  13.  10.  11.\n'
 '  33.  24.  28.  14.  18.  20.  16.  15.  19.  17.  40.  21.  86.  31.\n'
 '  27.  42.  60.  22.  32.  99.  49.  29.  30.  23.  46.  36.  68. 123.\n'
 '  25.  47.  35.  38.  64.  48.  75.] : 48 : 126791')

"++++++++++++++++++ bath +++ <class 'numpy.float64'> ++++++++++++++++++"
('[  2.   1.   3.   5.   4.   7.   6.  nan   8.   9.  10.  12.  13.  35.\n'
 '  11.  16.  15.  18.  20.  14.  36.  25.  17.  19.  56.  42.  51.  28.\n'
 ' 198.  22.  33.  27.  30.  29.  24.  46.  21. 123.  39.  43.  32.  45.\n'
 '  64.] : 42 : 128499')

"++++++++++++++++++ acre_lot +++ <class 'numpy.float64'> ++++++++++++++++++"
('[1.200e-01 8.000e-02 1.500e-01 ... 1.009e+02 9.710e+01 6.160e+01] : 4488 : '
 '115074')

"++++++++++++++++++ city +++ <class 'str'> ++++++++++++++++++"
("['Adjuntas' 'Juana Diaz' 'Ponce' ... 'Mount Morris' 'East Concord'\n"
 " 'Brocton'] : 3512 : 152004")

"++++++++++++++++++ state +++ <class 'str'> ++++++++++++++++++"
("['Puerto Rico' 'Virgin Islands' 'Massachusetts' 'Connecticut'\n"
 " 'New Hampshire' 'Vermont' 'New Jersey' 'New York' 'South Carolina'\n"
 " 'Tennessee' 'Rhode Island' 'Virginia' 'Wyoming' 'Maine' 'Georgia'\n"
 " 'Pennsylvania' 'West Virginia' 'Delaware' 'Louisiana'] : 19 : 152040")

"++++++++++++++++++ zip_code +++ <class 'numpy.float64'> ++++++++++++++++++"
'[  601.   795.   731. ... 14813. 14739. 14716.] : 4220 : 151993'

"++++++++++++++++++ house_size +++ <class 'numpy.float64'> ++++++++++++++++++"
'[ 920. 1527.  748. ... 9888. 5284. 4802.] : 6855 : 102571'

"++++++++++++++++++ prev_sold_date +++ <class 'float'> ++++++++++++++++++"
("[nan '2020-02-28' '2019-06-28' ... '2018-11-03' '1998-08-04' '2020-12-05'] : "
 '10319 : 79419')

"++++++++++++++++++ price +++ <class 'numpy.float64'> ++++++++++++++++++"
'[105000.  80000.  67000. ... 129555. 867900.  13750.] : 8735 : 152020'

#### After dropping duplicates, group the data by state and count the occurances.

In [9]:
realtor_data_df.groupby(["state"])["state"].count()

state
Connecticut       13753
Delaware           1290
Georgia               5
Louisiana             1
Maine              4938
Massachusetts     10051
New Hampshire      3431
New Jersey        32601
New York          67159
Pennsylvania       9549
Puerto Rico        2645
Rhode Island       3332
South Carolina        1
Tennessee             1
Vermont            2544
Virgin Islands      730
Virginia              7
West Virginia         1
Wyoming               1
Name: state, dtype: int64

#### After dropping duplicates, group the data by prev_sold_date and count the occurances.

In [10]:
realtor_data_df.groupby(["prev_sold_date"])["prev_sold_date"].count().sort_values(ascending=False).head()

prev_sold_date
2022-04-15    68
2022-04-29    58
2022-03-31    57
2022-04-01    54
2022-02-28    54
Name: prev_sold_date, dtype: int64

In [11]:
realtor_data_df.groupby(["prev_sold_date"])["prev_sold_date"].count().sort_values(ascending=False).tail()

prev_sold_date
1989-02-14    1
1989-02-22    1
1989-03-02    1
1989-03-04    1
1901-01-01    1
Name: prev_sold_date, dtype: int64

In [12]:
realtor_data_df["prev_sold_year"] = pd.to_datetime(realtor_data_df["prev_sold_date"], format='%Y-%m-%d').dt.year

In [13]:
realtor_data_df.groupby(["state","prev_sold_year"])["state"].count().head()

state        prev_sold_year
Connecticut  1961.0            1
             1963.0            1
             1965.0            2
             1966.0            2
             1967.0            2
Name: state, dtype: int64

In [14]:
realtor_data_df.groupby(["state","prev_sold_year"])["state"].count().tail()

state           prev_sold_year
Vermont         2022.0            10
Virgin Islands  2010.0             1
                2013.0             1
                2016.0             2
                2018.0             1
Name: state, dtype: int64

#### Loop through the data and write the rows for each into separate files.

In [15]:
#what = [{"nj":"New Jersey"},{"ny":"New York"},{"pa":"Pennsylvania"},{"ma":"Massachusetts"},{"ct":"Connecticut"}]
what = []
for w in what:
    for key, value in w.items():
        print(key + " " + value)
        state_df = realtor_data_df[(realtor_data_df["state"].isin([value]))]
        nospaces = value.replace(' ','')
        state_df.to_csv(key + "/" + nospaces +'-realtor-data.csv')