In [1]:
from warnings import filterwarnings 
filterwarnings("ignore")

import pandas as pd
import numpy as np

In [2]:
realtor_data_df = pd.read_csv('NewJersey-realtor-data.csv')
realtor_data_df["prev_sold_year"] = pd.to_datetime(realtor_data_df["prev_sold_date"], format='%Y-%m-%d').dt.year

In [3]:
for_sale_df = realtor_data_df[(realtor_data_df["prev_sold_year"] > 2015.0) &
                                     (realtor_data_df["state"].isin(["New Jersey"])) &
                                     (realtor_data_df["status"] == "for_sale") 
                                    ]
for_sale_df.drop(columns=["prev_sold_year"],inplace=True)
for_sale_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8061 entries, 2 to 32595
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      8061 non-null   int64
 1   status          8061 non-null   object
 2   bed             7646 non-null   float64
 3   bath            7628 non-null   float64
 4   acre_lot        6701 non-null   float64
 5   city            8061 non-null   object
 6   state           8061 non-null   object
 7   zip_code        8061 non-null   float64
 8   house_size      4193 non-null   float64
 9   prev_sold_date  8061 non-null   object
 10  price           8061 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 755.7+ KB

In [4]:
zipcodes = for_sale_df["zip_code"]
len(zipcodes.unique())

532

In [5]:
# Because of its size this dataset is not saved in the code repo for this project.
# It can be downloaded and saved in the same path to make this Notebook run.
zip_lon_lat = pd.read_csv('../../../zip_lat_long.csv')
zip_lon_lat.head()

   ZIP        LAT        LNG
0  601  18.180555 -66.749961
1  602  18.361945 -67.175597
2  603  18.455183 -67.119887
3  606  18.158345 -66.932911
4  610  18.295366 -67.125135

In [6]:
merged_df = zip_lon_lat[zip_lon_lat["ZIP"].isin(zipcodes.unique())]

In [7]:
merged_df

       ZIP        LAT        LNG
1974  7001  40.582316 -74.271506
1975  7002  40.662338 -74.110275
1976  7003  40.809128 -74.187155
1977  7004  40.882508 -74.304593
1978  7005  40.932771 -74.417304
...    ...        ...        ...
2563  8887  40.521268 -74.794840
2564  8889  40.609021 -74.754216
2566  8901  40.483638 -74.442460
2567  8902  40.439213 -74.484303
2568  8904  40.500795 -74.427911

[529 rows x 3 columns]

merged_df.to_csv('zip-lon-lat.csv')